/*panel*/
.eshop .card-notify-badge {
    position: absolute;
    left: -30px;
    top: 0px;
    background: #f2d900;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: #000;
    padding: 5px 10px;
    font-size: 14px;
    transform: rotate(-31deg);
}
.eshop .panel {
    border: none;
    box-shadow: none;
}
.eshop .panel.filter {
    z-index: 5;
}
.eshop .panel-heading {
    border-color: #eff2f7;
    font-size: 16px;
    font-weight: 300;
}
.eshop .panel-title {
    color: #2a3542;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
}
.eshop .prod-cat li a {
    border-bottom: 1px dashed #d9d9d9;
}
.eshop .prod-cat li a {
    color: #3b3b3b;
}
.eshop .prod-cat li ul {
    margin-left: 30px;
}
.eshop .prod-cat li ul li a {
    border-bottom: none;
}
.eshop .prod-cat li ul li a:hover,
.eshop .prod-cat li ul li a:focus,
.eshop .prod-cat li ul li.active a,
.eshop .prod-cat li a:hover,
.eshop .prod-cat li a:focus,
.eshop .prod-cat li a.active {
    background: none;
    color: #da0809;
    font-weight: bold;
}
.eshop .pro-lab {
    margin-right: 20px;
    font-weight: normal;
}
.eshop .pro-sort {
    padding-right: 20px;
    float: left;
}
.eshop .pro-page-list {
    margin: 5px 0 0 0;
}
.eshop .product-list img {
    width: 100%;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}
.eshop .product-list .pro-img-box {
    position: relative;
    height: 240px;
}
.eshop .adtocart {
    background: #fc5959;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    border: 3px solid #fff;
    left: 45%;
    bottom: -25px;
    position: absolute;
}
.eshop .adtocart i {
    color: #fff;
    font-size: 25px;
    line-height: 42px;
}
.eshop .pro-title {
    color: #5a5a5a;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
}
.eshop .product-list .price {
    color: #fc5959;
    font-size: 15px;
}

.eshop .pagination li a:hover {
    color:#fff
}
.eshop .pagination li a {
    margin: 3px;
}
.eshop .product-list .panel{
    min-height: 390px;
}
.eshop .product-list .panel-body{
    min-height: 100px;
}
.eshop .pro-img-details {
    margin-left: -15px;
}
.eshop .pro-img-details img {
    width: 100%;
}
.eshop .pro-d-title {
    font-size: 16px;
    margin-top: 0;
}
.eshop .product_meta {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 15px 0;
}
.eshop .product_meta span {
    display: block;
    margin-bottom: 10px;
}
.eshop .product_meta a,
.eshop .pro-price {
    color: #fc5959;
}
.eshop .pro-price,
.eshop .amount-old {
    font-size: 18px;
    padding: 0 10px;
}
.eshop .amount-old {
    text-decoration: line-through;
}
.eshop .quantity {
    width: 120px;
}
.eshop .pro-img-list {
    margin: 10px 0 0 -15px;
    width: 100%;
    display: inline-block;
}
.eshop .pro-img-list a {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.eshop .pro-d-head {
    font-size: 18px;
    font-weight: 300;
}

/** custom **/
.eshop ul.nav prod-cat{
    padding: 0px;
}
.eshop ul.nav{
    padding-left: 15px;
}
.eshop .prod-cat li a {
    padding-left: 5px;
}
.eshop .nav>li>a>i{
    margin-right: 5px;
}
.eshop .nav>li>a{
    font-size: 14px;
    padding: 6px 15px;
}
.eshop li.parent{
    font-weight:bold;
    font-size: 16px;
    /*text-transform: uppercase;*/
}

.eshop .left-columnt ul.navigation-tree li.selected>a,
.eshop .left-columnt ul.navigation-tree li>a:hover{
    color: #da0809 !important;
}
.eshop .panel-heading {
    color: #333;
    font-size:18px;
}
.eshop .pagination li a:hover,
.eshop .pagination.active li.active {
    color: #fff!important;
    background: #da0809;
    border-color: #ffffff;
    border: 1px solid #da0809;
}
.eshop .pagination>.active>a, 
.eshop .pagination>.active>a:focus, 
.eshop .pagination>.active>a:hover, 
.eshop .pagination>.active>span, 
.eshop .pagination>.active>span:focus, 
.eshop .pagination>.active>span:hover {
    border-color: #da0809;
    background-color: #da0809;
    font-weight: normal;
}
.eshop .left-columnt ul.navigation-tree{
    padding-left: 5px;
}
.eshop .left-columnt ul{
    padding-left: 20px;
}
.eshop .left-columnt ul.navigation-tree li{
    list-style: none;
    font-family: 'Roboto Slab',sans-serif;
    padding-left: 0px;
    font-size: 14px;
    line-height: 25px;
}
.eshop .left-columnt ul.navigation-tree li.parent{
    font-weight:bold;
    font-size: 16px;
    text-transform: uppercase;
}

.eshop .left-columnt ul.navigation-tree li.selected>a,
.eshop .left-columnt ul.navigation-tree li>a:hover{
    color: #da0809 !important;
}

.eshop .btn-eshop-menu>span{
    display: none;
}

.eshop .btn-info {
    background-color: #da0809;
    border-color: #da0809;
}
.eshop .btn-info:hover {
    background-color: #ff0000;
    border-color: #ff0000;
}

.eshop .links .btn {
    padding: 8px;
    color: #fff;
    font-size: 13px;
    margin: 15px 0px;
    display: block;
}
.eshop .links .btn i{
    color: #fff;
}
.eshop .btn:hover {
    color: #fff!important;
    background-color: #da0809;
    border-color: #da0809;
}

.eshop .nav-pills>li.active>a, 
.eshop .nav-pills>li.active>a:focus, 
.eshop .nav-pills>li.active>a:hover {
    color: #fff!important;
}
.eshop .nav-pills>li.active>a:hover {
    background-color: #da0809;
}

.eshop .tree-path ul li a{
    margin: 5px;
    margin-left: 0px;
}

.eshop table {
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}

.eshop .description{
    margin: 15px 0px;
}

.eshop table th, .eshop table td {
    text-align: left;
    padding: 8px;
}

.eshop table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.eshop table tr td:nth-child(odd){
    font-weight: bold;
    text-align:left;
    width:35%;
}
.eshop table tr td:nth-child(even){
    width:65%
}
.eshop .show-all-cats .btn-default{
    padding: 1px;
    padding-left: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.eshop .order-box{

}
.eshop .order-box ul {
    padding-left: 20px;
}
.eshop .order-box ul li {
    list-style: none;
    float: left;
    padding-right: 10px;
    font-size: 15px;
}
.eshop .order-box ul li.active i{
    color: #da0809;
}

.eshop .product .product-image{
    position:relative;
}
@media screen and (max-width: 991px) {
    .eshop .btn-eshop-menu>span{
        display: block;
    }
    .eshop .eshop-nav{
        display: none;
    }
    .eshop .panel.search{
        display: none;
    }

    .eshop .btn-group-lg>.btn, .eshop .btn-lg {
        font-size: 14px;
        display: block;
    }
    .eshop hr{
        margin:5px;
    }
    .prod-cat .nav{
        display: block !important;
    }
    .eshop .pagination li a:hover {
        color:#fff
    }
    .eshop .pagination li a {
        margin: 3px;
    }
    .eshop .show-all-cats{
        display:none;
    }
    .margin-bottom-60 {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 991px) {
    .eshop .product{
        margin-top: 25px;
        padding: 0px;
    }
    .eshop .product .product-image{
        padding:25px 0px;
    }
    .eshop .product .right-section{
        /*padding:15px 0px;*/
    }
    .eshop .product-list .pro-img-box {
        height: auto;
    }
    .eshop .product-list .panel {
        min-height: auto;
        margin: 0px;
    }
    .eshop .category-section{
        padding: 0px;
    }
    .eshop .panel.filter .col-md-3{
        padding:0px;
    }
    .eshop input,
    .eshop input:focus,
    .eshop select:focus,
    .eshop .btn-info,
    .eshop select{
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    .eshop .links {
        margin-top: 30px;
        display: block;
    }
    .eshop .links .btn {
        display: inline;
    }
}

/** RELATED **/
.section-title.btn.btn-primary,
.section-title.btn.btn-primary:hover{
    cursor: initial;
    margin-bottom: 25px;
}
.slide-content{
    display: inherit;
    overflow-y: hidden;
}
.slide-content .related-products {
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}
.slide-content .related-products ul {
    padding: 0 0 0 0px;
    margin-bottom: 0;
}
.slide-content .related-products ul li {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: 260px;
    margin: 0 8px 20px 0;
    height: 330px;
    position: relative;
}
.slide-content .related-products ul li:last-child{
    margin: 0 15px 0 0;
}
.slide-content .related-products ul li img{
    width: 250px;
    height: auto;
    border-radius: 0px;
    overflow-y: hidden;
}
.slide-content .related-products ul li .thumb_info{
    color: #fff;
    height: 110px;
    position: absolute;
    left: 0px;
    display: block;
    background: #fff;
    width: 100%;
    bottom: 0px;
    white-space: normal;
}
.slide-content .related-products ul li .thumb_info .name {
    position: relative;
    bottom: auto;
    margin: 0px;
    color: #404040;
    font-size: 15px;
    text-align: left;
    padding: 5px 0px;
    padding-bottom: 20px;
    height: 60px;
}
.slide-content .related-products ul li .thumb_info .thumb_slider_icon{
    top: -2px;
    left: 160px;
}
.slide-content .related-products ul li .thumb_info .price{
    font-size: 13px;
    font-weight: bold;
    background-color: #da0809;
    margin: 0px auto;
    text-align: center;
    color: #fff;
    padding: 15px 0px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
}

.eshop .name hr{
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
}
.product-list.reletaed .title-v4{
    padding-top: 30px;
}

.eshop .product-info .alert-info i{
    color:#31708f;
}
.eshop .product-info .alert-success i{
    color:#3c763d;
}
@media screen and (min-width: 991px) {


    .slide-content .related-products {
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .slide-content .related-products ul li {
        display: block;
        float: left;
    }
}
@media screen and (max-width: 991px) {
    .product-list.reletaed{
        padding:0px
    }
}